body{
    font-family:"Playfair Display", sans-serif;
    background-color: black;
    color: whitesmoke;
    margin:opx;
}

header{
    font-size: 20px;
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

h1{
    font-size: 40px;
}

p{
    font-size: 15;
}

section{
    background-color: rgba(156, 129, 92, 0.984);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center;
}

.chamada-texto{
    margin-right: 5%;
}

img{
    opacity:0,5;
    height: 100px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(58, 0, 128);
}

